/*=====Global=======*/
body {
    margin-top: 100px;
    background-color: #222;
}
@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}
/*====wrapper======*/
#wrapper {
    padding-left: 0;
}
#body-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}
.carousel-inner .item img {
  height: 250px;
  width: 250px;
}
@media(min-width:768px) {
    .carousel-inner .item img {
      height: 500px;
      width: 500px;
    }
}
.bigger {
    font-size: 40px;
}
/*=========navbar top menu=============*/
.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}
ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}
li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}
li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
li.message-footer {
    margin: 5px 0;
}
.badge-alert-notify, .badge-message-notify {
	  position:absolute;;
    top: 7px;
    left: 20px;
    font-size: 10px;
}
.badge-message-notify {
	background:#04b71a;

}
.badge-alert-notify {
	background:#d40e32;
}
/*---side navbar------*/
@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}
/*==============chat box===============*/
#small-chat {
    position: fixed;
    bottom: 6px;
    right: 6px;
    z-index: 100;
}
#small-chat .badge {
    position: absolute;
    top: -3px;
    right: -4px;
    background: #f8ac59;
}
.open-small-chat {
    height: 38px;
    width: 38px;
    display: block;
    background: #337ab7;
    padding: 9px 8px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}
/*===========panels===============*/
.panel-green {
    border-color: #5cb85c;
}
.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: white;
    background-color: #5cb85c;
}
.panel-green > a {
  color: #5cb85c;
}
.panel-red {
    border-color: #d9534f;
}
.panel-red > .panel-heading {
    border-color: #d9534f;
    color: white;
    background-color: #d9534f;
}
.panel-red > a {
  color: #d9534f;
}
.panel-yellow {
    border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: white;
    background-color: #f0ad4e;
}
.panel-yellow > a {
  color: #f0ad4e;
}
.panel-grey {
    border-color: #5d5b5b;
}
.panel-grey > .panel-heading {
    border-color: #5d5b5b;
    color: white;
    background-color: #5d5b5b;
}
.panel-grey > a {
  color: #5d5b5b;
}
/*========data panel==========*/
.value {
    float: right;
    font-weight: bold;
}
/*========Schedule panel===========*/

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: #3c763d;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";
}
.meeting > div > i{
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  padding: 5px;
  border-top: 1px solid #dff0d8;
  border-bottom: 1px solid #dff0d8;
  border-left: 1px solid #dff0d8;
  background: #dff0d8;
}
.text-navy{
  color: #1ab394;
}
.meet-head {
  text-align: center;
  position: relative;
  padding-top: 40px;
}
.meet-body {
  border-bottom: 1px solid #dff0d8;
  border-left: 1px solid #dff0d8;
}
/* tabs */
.tabs-container .tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    width: 20%;
    border-bottom: 0;
}
.tabs-container .tabs-left > .nav-tabs > li {
    float: none;
}
.tabs-container .tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    border-radius: 4px 0 0 4px;
}
.tabs-container .tabs-left .panel-body {
    width: 80%;
    margin-left: 20%;
}
.tabs-container .tab-content > .active {
    display: block;
}
.tabs-container .panel-body {
    background: #fff;
    border: 1px solid #e7eaec;
    border-radius: 2px;
    padding: 20px;
    position: static;
}
.tabs-container .tabs-left > .nav-tabs .active > a {
    border-color: #e7eaec transparent #e7eaec #e7eaec;
}
.item img {
  display: block;
  margin: 0px auto;
}
/*=======table==========*/
.footer-text {
  padding-top: 30px;
}
